body {
    background-color: rgb(243, 243, 243);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 24% 3fr 0.7fr;
    grid-template-areas:
      "sidebar page-content .";
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
      "header"
      "project-list";
    border-right: 1px solid rgb(155, 155, 155);
}

.header {
    grid-area: header;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(155, 155, 155);
    margin-right: -1px;
    margin-bottom: 17px;
}

.project-list {
    grid-area: project-list;
    display: flex;
    flex-direction: column;
}
.project {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 25px;
    margin-left: 30px;
    transition: 0.5s;
    transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
.project::after {
    content: '';
    width: 0;
    border-bottom: 1px solid rgb(155, 155, 155);
    position: absolute;
    bottom: 0;
    right: -1px;
    transition: 0.5s;
    transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.project:hover {
    padding-left: 40px;
}
.project:hover::after {
    width: calc(100% - 38px);
}

.page-content {
    grid-area: page-content;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
      "page-details"
      "info-list";
}

.page-details {
    grid-area: page-details;
    padding: 20px;
    border-bottom: 1px solid rgb(155, 155, 155);
}
.page-title, .page-description {
    width: 100%;
    border: 0px transparent;
    background-color: transparent;
}
.page-title {
    font-size: 3.5rem;
}
.page-description {
    font-size: 1.5rem;
}

.page-title:focus, .page-description:focus  {
    outline: none;
}

.todo-list {
    grid-area: info-list;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.todo {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-areas:
      "todo-title todo-duedate";
    padding: 3px 0px;
    margin-left: 10px;
    border-bottom: 1px solid rgb(194, 194, 194);
    transition: 0.3s;
}
.todo:hover .todo-title {
    padding-left: 20px;
}

.todo-title {
    grid-area: todo-title;
    margin-left: 8px;
    margin-right: 10px;
    transition: 0.3s;
}
.todo-duedate {
    grid-area: todo-duedate;
    text-align: right;
    margin-right: 8px;
}

.priority-one {
    color: rgb(0, 105, 0);
}
.priority-two {
    color: rgb(236, 154, 0);
}
.priority-three {
    color: rgb(189, 0, 0);
}

.note-list {
    grid-area: info-list;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.note {
    padding: 3px 0px;
    margin-left: 10px;
    border-bottom: 1px solid rgb(194, 194, 194);
}
.note-text {
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
}