html, body {
    background-color: rgb(243, 243, 243);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    margin: auto;
    padding: auto;
}

.content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 353px 3fr 0.7fr;
    grid-template-areas:
      "sidebar page-content .";
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "header"
      "project-list";
    border-right: 1px solid rgb(155, 155, 155);
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

.header {
    grid-area: header;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(155, 155, 155);
    margin-right: -1px;
    margin-bottom: 17px;
}

.project-list {
    grid-area: project-list;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.project-list::-webkit-scrollbar {
    display: none;
}

.project {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 25px;
    margin-left: 30px;
    padding-right: 25px;
    transition: 0.5s;
    transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "project-list-text remove-project";
}
.project::after {
    content: '';
    width: 0;
    border-bottom: 1px solid rgb(155, 155, 155);
    position: absolute;
    bottom: 0;
    right: -1px;
    transition: 0.5s;
    transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.project:hover {
    padding-left: 40px;
}
.project:hover::after {
    width: calc(100% - 38px);
}
.remove-project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: remove-project;
    margin-right: 10px;
    transition: inherit;
    transition-timing-function: inherit;
}
.remove-project-button:hover {
    transform: rotate(180deg);
    color:rgb(219, 0, 0)
}
.project-list-text {
    grid-area: project-list-text;
    border-right: 1px solid rgb(155, 155, 155);
    margin-right: 4px;
}
.project-list-text::after {
    content: '';
    width: 0;
    border-top: 1px solid rgb(155, 155, 155);
    position: absolute;
    top: 0;
    right: -1px;
    transition: 0.5s;
    transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.project-list-text:hover::after {
    width: calc(100% - 38px);
    border-top: 1px solid rgb(155, 155, 155);
}

.page-content {
    grid-area: page-content;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
        "page-details"
        "info-list";
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.page-content::-webkit-scrollbar {
    display: none;
}

.page-details {
    grid-area: page-details;
    padding: 20px;
    border-bottom: 1px solid rgb(155, 155, 155);
    display: flex;
    flex-direction: column;
}
.page-title, .page-description {
    width: 100%;
    border: 0px transparent;
    background-color: transparent;
    text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
}
.page-title {
    font-size: 3.5rem;
}
.page-description {
    font-size: 1.5rem;
}

.page-title:focus, .page-description:focus  {
    outline: none;
}

.todo-list {
    grid-area: info-list;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.todo {
    display: grid;
    grid-template-columns: 10fr 2fr 0.3fr 0.3fr 0.3fr;
    grid-template-areas:
      "todo-title todo-duedate todo-status todo-priority todo-remove";
    padding: 3px 0px;
    margin-left: 10px;
    border-bottom: 1px solid rgb(194, 194, 194);
    transition: 0.3s;
}
.todo:hover .todo-title {
    padding-left: 20px;
}

.todo-title {
    grid-area: todo-title;
    margin-left: 8px;
    margin-right: 10px;
    transition: 0.3s;
}

.todo-duedate {
    grid-area: todo-duedate;
    margin-right: 5px;
    border: transparent;
    background-color: inherit;
    text-align: right;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-duedate:focus {
    outline: none;
}
.todo-duedate::-webkit-inner-spin-button,
.todo-duedate::-webkit-calendar-picker-indicator {
    display:none;
}

.todo-status {
    grid-area: todo-status;
    margin: auto;
    height: 20px;
    width: 20px;
}

.priority-box {
    grid-area: todo-priority;
    margin: auto;
    height: 17px;
    width: 17px;
    border: 1px solid rgb(194, 194, 194);
    transition: 0.5s;
    transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.priority-box:hover {
    height: 13px;
    width: 13px;
    transform: rotate(45deg);
}

.priority-one {
    background-color: rgb(68, 255, 68);
}
.priority-two {
    background-color: rgb(250, 189, 76);
}
.priority-three {
    background-color: rgb(238, 78, 78);
}

.todo-remove {
    grid-area: todo-remove;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 17px;
    border: 1px solid rgb(194, 194, 194);
    transition: 0.5s;
    transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.todo-remove:hover {
    color:rgb(219, 0, 0)
}

.note-list {
    grid-area: info-list;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.note {
    padding: 3px 0px;
    margin-left: 10px;
    border-bottom: 1px solid rgb(194, 194, 194);
}
.note-text {
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
}

.note-text:focus {
    outline: none;
}
.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.33rem;
    padding: 4px 0px;
    margin-left: 10px;
    transition: 0.5s;
    transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.add-button:hover {
    color: rgb(0, 163, 8);
}